<nav class="top_menu">
    <ul>
     
     <li>
       <a href="/">Order Plan</a>
    </li>
    <li>
      <a href="/allorders">View Plans</a>
   </li>
   <li>
      <a href="/author">Student Name / Student ID</a>
   </li>
    </ul>
 </nav>